
 <div id="myNav" class="overlay d-md-none d-lg-none">
  @*<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>*@
  <div class="overlay-content">
      @*<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>*@
    <a href="@Url.Action("Index","Home")">Gallery</a>
    <a href="#">FAQs</a>
    <a href="@Url.Action("Index","SendMailer")">Contact</a>
    <a href="#"><i class="fa fa-instagram" style="font-size:24px"></i></a>
  </div>
</div>

<div id="header" class="d-none d-sm-flex d-md-flex d-lg-flex  row mb-5 pb-3" style="width: 100%; background-color: #494F55;">
    <div class="col mt-2">
       <a href="@Url.Action("Index","Home")"><img id="big-logo" class="img-fluid" src="~/img/QleanShotMedia.png" alt="Qlean Shot Media Logo"/></a>
       @*<a href="@Url.Action("Index","Home")"><img id="big-logo" class="img-fluid" src="~/img/QleanShotMedia.png" alt="Qlean Shot Media Logo"/></a>*@
    </div>
    <div class="col">
       <ul id="menu" class="d-flex justify-content-evenly align-items-end " style="height:100%;">
                <li class="hover-underline-animation"><a href="@Url.Action("Index","Home")">Gallery</a></li>
                <li class="hover-underline-animation">FAQ</li>
                <li class="hover-underline-animation"><a href="@Url.Action("Index","SendMailer")">Contact</a></li>
                <li class="hover-underline-animation"><i class="fa fa-instagram" style="font-size:24px"></i></li>
            </ul>
    </div>
</div>

<div id="xs-header" class="d-xs-flex d-sm-none d-md-none d-lg-none  row container  justify-content-around" style="width: 100%; padding-bottom: -10%; max-height: 140px; background-color: #494F55;">
    
    <div class="col-2 d-flex align-items-center justify-content-center" style="max-height: 55%;">
       <div id="xs-toggle" style="font-size:60px;cursor:pointer; max-height:55%;" onclick="toggleNav()">&#9776;</div>
    </div>
    <div class="col-10 mt-3 d-flex justify-content-center">
       <a href="@Url.Action("Index","Home")"><img style="max-height: 55%" class="img-fluid" src="~/img/QleanShotMedia.png" alt="Qlean Shot Media Logo"/></a>
    </div>
</div>


<script>
    let isNavOpen = false;
    function openNav() {
      document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
      document.getElementById("myNav").style.height = "0%";
    }

    function toggleNav(){
        if(!isNavOpen){
            isNavOpen = true;
            document.getElementById("myNav").style.height = "100%";
            document.getElementById("xs-toggle").innerHTML = "&times;";
        }else{
            isNavOpen = false;
            document.getElementById("myNav").style.height = "0%";
            document.getElementById("xs-toggle").innerHTML =  "&#9776;"; 
        }
        console.log(isNavOpen);
    }
</script>

<script>
// When the user scrolls down 50px from the top of the document, resize the header's font size
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
    //document.getElementById("big-logo").style.display = "none";
    document.getElementById("big-logo").style.width = "25%";
    document.getElementById("big-logo").style.height = auto;
  } else {
    document.getElementById("big-logo").style.width = "70%";
    document.getElementById("big-logo").style.height = auto;
  }
}
</script>

<style>
    .border{
        border: 1px solid black;
    }
    #menu > li{
        cursor: pointer;
    }
    #header{
        margin-left: auto; 
        margin-right: auto; 
        top: 0; 
        position: fixed; 
        z-index: 1; 
        background-color: #958ED9

;
        width: 100%;
        margin-bottom: 30%;
    }
    #xs-header{
        margin-left: auto; 
        margin-right: auto; 
        top: 0; 
        position: fixed; 
        z-index: 1; 
        background-color: blue;

;
        width: 100%;
    }

    .hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

   .overlay {
      height: 0%;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
    }
    
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
      color: #fff;
      margin-top: 20%;
    }
</style>